.header {
  font-size: large;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 60px;
  grid-auto-rows: 35px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item-1 {
  grid-column: 1/4;
}
